/* app.component.css */
.sidenav-container {
    height: 100%;
}
  
mat-sidenav {
width: 200px; /* Adjust as needed */
}

mat-sidenav-content {
padding: 16px;
}

/* login.component.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


::ng-deep .mat-sidenav.mat-drawer {
    z-index: 99 !important;
}